<nav>
    <ul class="nav nav-pills nav-fill">    
      <li class="nav-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/latestNews">Latest News</a>
      </li>
      <li class="nav-item">
        <a routerLink="/precautions">Precautions</a>
      </li>
      
      <!-- <li class="nav-item">
        <button class="btn btn-primary" *ngIf="isAdmin==false || !isAdmin"(click)="login()">Login</button>
        <button class="btn btn-primary" *ngIf="isAdmin"(click)="logout()">logout</button>
      </li> -->
    </ul>
  </nav>
  
  